.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #c5dce3;  
    display: flex;
    justify-content: center;
    width: 100%;
    border-color: #c5dce3;
    // margin-top: 5px;
    .headerContent {
        position: relative;
        max-width: 1385px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        margin: 0 auto;
        background-color: #ffff;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-bottom: 1px solid #EAEAEA;

        @media(max-width: 555px) {
            width: calc(100% - 14px);
            margin: 0 7px;
            padding-left: 7px;
            padding-right: 7px;
        }
    }
    @media (max-width: 414px) {
      height: 75px;
      border-bottom: 0;

    }
    .title {
      @media (max-width: 555px) {
        font-size: 21px;
        margin-top: 21px;
      }
    }
    a {
      text-decoration: none;
      &:visited {
        color: inherit;
    }
    }
    .headerElem {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7px;
      margin-top: 11px;
      @media (max-width: 414px) {
        margin-right: 11px;
      }
    }
    .cart {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 11px;
      background-color: rgb(98, 189, 98);
      width: auto;
      height: 25px;
      padding: 5px;
      transition: 0.1s ease-in-out;
      margin-bottom: 5px;
      
      img {
        margin-right: 3px;
        width: 35px;
        height: 35px;
        @media (max-width: 555px) {
          width: 25px;
          height: 25px;
        }
      }
      &:active {
        background-color: darken(rgb(98, 189, 98), 15%);
      }
    }
    .totalPrice {
      margin: 0;
      margin-bottom: 1px;
      margin-right: 3px;
      text-decoration: none;
      @media (max-width: 555px) {
        font-size: 15px;
      }
    }
    .admin {
        width: 35px;
        height: 35px;
        @media (max-width: 555px) {
          width: 25px;
          height: 25px;
        }
    }
    .favorite{
          width: 25px;
          height: 25px;
          @media (max-width: 555px) {
            width: 21px;
            height: 21px;
          }
    }
    .profile {
      width: 35px;
      height: 35px;
      @media (max-width: 555px) {
        width: 25px;
        height: 25px;
      }
    }
  }
  