.auhorization {
    width: 100%;
    height: 649px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.auhorizationBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-color: rgb(221, 218, 215);
    width: 495px;
    height: 395px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.191);
    border-radius: 19px;
    margin-left: 11px;
    margin-right: 11px;
}
.title {
    display: flex;
    font-size: 21px;
}
.dataBlock {
    display: flex;
    flex-direction: column;
    margin: 5px 15px 1px 11px;
    min-height: 257px;  
}
.inputWrapper {
    position: relative;
    width: 100%;
    min-height: 45px;
    margin-bottom: 15px;
}
.telegramWrapper {
    position: relative;
    width: 100%;
    min-height: 45px;
    margin-bottom: 15px;
}
.telegramBlock{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}
.inputTelegram {
    flex: 1;
    border-radius: 15px;
    padding: 5px;
    border: 1px solid;
}
.inputLogin {
    width: 100%;
    border-radius: 15px;
    padding: 5px;
    border: 1px solid;
}

.inputPassword {
    width: 100%;
    border-radius: 15px;
    padding: 5px;
    border: 1px solid;
}
.signInBtn {
    display: flex;
    margin-top: 5px;
    background-color:  rgb(98, 189, 98);
    color: rgb(48, 48, 48);
    border: 0;
    border-radius: 15px;
    padding: 7px;
    justify-content: center;
    align-items: center;
}
.spinner {
    margin-top: 15px;
}
.registration {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: 0;
}

.questions {
    margin: 0;
}

.linkToRegistr {
    color: rgb(85, 84, 84);
    margin: 0;
}
.inputRoom {
    width: 100%;
    border-radius: 15px;
    padding: 5px;
    border: 1px solid;
}
.error {
    color: #e74c3c;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
    min-height: 18px;
}